html {
    font-family: 'Anton', sans-serif;
}

body {
    font-size: regular;
    width: 50%;
    max-width: 800;
    min-width: 480;
    margin: 0 auto;
}

.lastResult {
    color: #8afffd;
    padding: 3px;
}